vs/**
InformationSystemServer/wwwroot/**
InformationSystemServer/Migrations/**
packages/*
packages/**/*
InformationSystemServer/InformationSystemServer/bin
InformationSystemServer/InformationSystemServer/obj
**/Log
InformationSystemServer/.vs
**/packages
*.tmp
*.suo
InformationSystemServer/InformationSystemServer.csproj.user
**/project.lock.json
artifacts/
*.user
InformationSystemServer/InformationSystemServer/appsettings.Development.json
**/Migrations/**
