vs/**
InformationSystemServer/wwwroot/**
InformationSystemServer/Migrations/**
packages/*
packages/**/*
InformationSystemServer/InformationSystemServer/bin
InformationSystemServer/InformationSystemServer/obj
InformationSystemServer/InformationSystemServer.Data/bin
InformationSystemServer/InformationSystemServer.Data/obj
**/Log
InformationSystemServer/.vs
**/packages
*.tmp
*.suo
InformationSystemServer/InformationSystemServer.csproj.user
**/project.lock.json
artifacts/
*.user
InformationSystemServer/InformationSystemServer/appsettings.Development.json
**/Migrations/**
InformationSystemServer/InformationSystemServer.Services/bin/Debug/netcoreapp3.1/InformationSystemServer.Services.dll
InformationSystemServer/InformationSystemServer.Services/obj/Debug/netcoreapp3.1/InformationSystemServer.Services.dll
InformationSystemServer/InformationSystemServer.Controllers/bin/Debug/netcoreapp3.1/InformationSystemServer.Controllers.dll
