<message-search (search)="getMessagesByFilter($event)"
                (clearSearch)="getMessagesByFilter($event)">
</message-search>
<div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">{{'messages.content' | translate}}</th>
                    <th scope="col">{{'messages.startDate' | translate}}</th>
                    <th scope="col">{{'messages.endDate' | translate}}</th>
                    <th scope="col">{{'messages.status' | translate}}</th>
                    <th scope="col"
                        style="display: flex;align-items: baseline;">
                        <label style="margin: 0px;align-self: flex-end;">{{'messages.addNew' | translate}}</label>
                        <message-add [messages]=" messages"></message-add>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of messages">
                    <td>{{item.content}}</td>
                    <td>{{item.startDate | date:'dd-MMM-YYYY'}}</td>
                    <td>{{item.endDate| date:'dd-MMM-YYYY' || "no"}}</td>
                    <td>{{messageStatus[item.status]}}</td>
                    <td style="width: 13%;">
                        <div style="display: inline-flex;">
                            <ng-template [ngIf]="item.status==1"
                                         [ngIfElse]="emptyCell">
                                <button class="btn btn-warning btn-sm"
                                        style="margin-right: 1em;margin-left: 0.5em;"
                                        (click)="redirectionToEdit(item.id)">{{'messages.edit' | translate}}</button>
                                <message-done-btn [item]="item"></message-done-btn>
                            </ng-template>
                        </div>
                        <ng-template #emptyCell>
                            <div>

                            </div>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>