form {
    border: 1px solid grey;
    padding: 10% 20%;
    margin-top: 20%;
    width: 500px;
}
button {
    margin-top: 5%;
}

.btn-success{
    background-color: coral;
    border-color: coral;
    margin: 0;
}

a{
    color: coral;
}

.text-primary{
    color: coral !important;
}