<div class="container-fluid"
     style="text-align: center;">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form #loginForm="ngForm"
                  style="text-align: center;"
                  autocomplete="off">
                <h2 class="text-center text-primary">{{'login.title'|translate}}</h2>
                <hr>
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           name="username"
                           #username="ngModel"
                           [(ngModel)]="model.username"
                           placeholder="{{'users.username'|translate}}"
                           required>
                    <div *ngIf="username.invalid && (username.dirty || username.touched)"
                         class="alert alert-danger">
                        <div *ngIf="username.errors.required">
                            Username is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           style="margin-top: 5%;"
                           name="password"
                           #password="ngModel"
                           [(ngModel)]="model.password"
                           placeholder="{{'login.password'|translate}}"
                           required>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                         class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                            Password is required.
                        </div>
                    </div>
                </div>
                <span style="display: block; margin-top: 10%;">
                    <button type="submit"
                            [disabled]="loginForm.invalid"
                            class="btn btn-success mr-2"
                            (click)="login()">{{'login.title'|translate}}</button>
                    <a class="text-align"
                       style="margin-left: 10%; text-align: right;"
                       routerLink="/register">{{'login.registerLink' | translate}}</a>
                </span>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>