<h2 class="text-center">Reports</h2>

<application-search (search)="getReports($event)"
                    (clearSearch)="getReports($event)"></application-search>

<table id="excel-table">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Municipality</th>
        <th>Region</th>
        <th>City</th>
        <th>Street</th>
        <th>Total Course Days</th>
        <th>Total Internship Days</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let report of reports">
        <td>{{report.firstName}}</td>
        <td>{{report.lastName}}</td>
        <td>{{report.municipality}}</td>
        <td>{{report.street}}</td>
        <td>{{report.city}}</td>
        <td>{{report.region}}</td>
        <td>{{report.totalCourseDays}}</td>
        <td>{{report.totalInternshipDays}}</td>
        <td>{{status[report.status]}}</td>
    </tr>
</table>

<div class="text-right"
     style="margin-top: 10px; margin-right: 70px">
    <button class="btn btn-outline"
            style="border-color: #ff7f50; color: #ff7f50;"
            (click)="exportExcel()">
        Export as Excel File
    </button>
</div>