<h2 class="text-center">{{'reportsTable.title' | translate}}</h2>

<application-search (search)="getReports($event)"
                    (clearSearch)="getReports($event)"></application-search>

<table id="excel-table">
    <tr>
        <th>{{ 'reportsTable.firstName' | translate }}</th>
        <th>{{ 'reportsTable.lastName' | translate }}</th>
        <th>{{ 'reportsTable.municipality' | translate }}</th>
        <th>{{ 'reportsTable.street' | translate }}</th>
        <th>{{ 'reportsTable.city' | translate }}</th>
        <th>{{ 'reportsTable.region' | translate }}</th>
        <th>{{ 'reportsTable.totalCourseDays' | translate }}</th>
        <th>{{ 'reportsTable.totalInternshipDays' | translate }}</th>
        <th>{{ 'reportsTable.status' | translate }}</th>
    </tr>
    <tr *ngFor="let report of reports">
        <td>{{report.firstName}}</td>
        <td>{{report.lastName}}</td>
        <td>{{report.municipality}}</td>
        <td>{{report.street}}</td>
        <td>{{report.city}}</td>
        <td>{{report.region}}</td>
        <td>{{report.totalCourseDays}}</td>
        <td>{{report.totalInternshipDays}}</td>
        <td>{{status[report.status]}}</td>
    </tr>
</table>

<div class="text-right"
     style="margin-top: 10px; margin-right: 70px">
    <button class="btn btn-outline"
            style="border-color: #ff7f50; color: #ff7f50;"
            (click)="exportExcel()">
        {{'buttons.asExcel' | translate}}
    </button>
</div>