.btn-success{
    background-color: #ff7f50 !important;
    border-color: #ff7f50 !important;
    margin: 0;
}   

.btn-success:focus, 
.btn-success:hover,
.btn-success:active {
    box-shadow: 0 0 4px 3px #cccccc;
}

#row:hover{
    background-color: 	#F0F0F0;
    border: solid 1px rgb(245, 206, 206);
}