.btn-success {
    background-color: #ff7f50 !important;
    border-color: #ff7f50 !important;
    margin: 0;
}

.btn-success:focus,
.btn-success:hover,
.btn-success:active {
    box-shadow: 0 0 4px 3px #cccccc;
}

#row:hover {
    background-color: #f0f0f0;
    border: solid 1px rgb(245, 206, 206);
}

.btn-outline:focus,
.btn-outline:hover,
.bbtn-outline:active {
    box-shadow: 0 0 4px 3px #cccccc;
    background-color: white;
}
.btn-outline {
    border-color: #ff7f50;
    color: #ff7f50;
    margin-right: 1em;
}
