@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
div {
    margin-top: 3em;
    height: 50em;
    background-size: cover;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color:#c33d3d;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}