<table>
    <th>{{'applicationTable.firstName'|translate}}</th>
    <th>{{'applicationTable.lastName'|translate}}</th>
    <th>{{'users.username'|translate}}</th>
    <th>{{'users.role'|translate}}</th>
    <th>{{'applicationTable.actions'|translate}}</th>
    <tr *ngFor="let user of users">
        <td>{{user.firstName | titlecase}}</td>
        <td>{{user.lastName | titlecase}}</td>
        <td>{{user.username}}</td>
        <td>{{userRole[user.role]}}</td>
        <td *ngIf="user.role == userRole.User">
            <button class="btn btn-outline-primary btn-sm"
                    (click)="makeUserAdmin(user, user.id)">{{'users.makeAdmin'|translate}}</button>
        </td>
    </tr>
</table>