@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.navbar {
	padding-left: 16px;
	padding-right: 16px;
    border-radius: 0;
	background: linear-gradient(59deg, #ebe5c4, #da5959);
}

.navbar .navbar-brand {
	padding-left: 0;
	font-size: 20px;
}

.navbar .form-inline {
	display: inline-block;
}

.navbar a, .navbar a:active {
	font-size: 18px;
	color: #c33d3d;
	padding: 8px 20px;
	background: transparent;
	line-height: normal;
	font-family: 'Roboto', sans-serif;
}

.navbar a:hover{
	color: #000000;
}